body{
    margin: 0;
    padding: 0;
    background: linear-gradient(rgb(231,100,10), rgb(90, 243, 150), rgb(100,200,233));
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.container{
   background-color: #ffff; 
   position: relative;
   width: 100%;
   height: 100vh;
   margin-top: 5%;
   border-radius: 51%;
}

.hexa{
    width: 200px;
    height: 200px;
    background: linear-gradient(hsl(232, 10%, 50%), hsl(23, 90%, 25%), hsl(132, 50%, 90%));
    transform: translate(251px);
    position: absolute;
    top: 5%;
    left: 30%;
    margin: -51px;
}

.transparency-hexa{
    width: 150px;
    height: 150px;
    background: linear-gradient(hsl(132, 10%, 50%), hsl(213, 90%, 25%), hsl(32, 50%, 90%));
    border-radius: 50%;
    transform: rotate(46deg) translate(251px);
    position: absolute;
    top: -30px;
    left: 60%;
    margin: -51px;
}

.rgb{
    width: 500px;
    height: 100px;
    background: linear-gradient(hsl(22, 50%, 50%), hsl(229, 20%, 25%), hsl(232, 10%, 100%));
    border-radius: 200px/75px;
    transform: rotate(91deg) translate(251px) rotate(-91deg);
    position: absolute;
    top: 15%;
    left: 75%;
    margin: -51px;
}

.rgba{
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid #ff3244;
    transform: rotate(136deg) translate(250px) rotate(-136deg);
    position: absolute;
    top: 57%;
    left: 82%;
    margin: -51px;
}

.hsl{
    border-bottom: 100px solid #2122ff;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    /* border-image: linear-gradient(rgba(244, 135, 123, .6), rgba(4, 15, 223, .6), rgba(44, 235, 123, .6)); */
    height: 0;
    width: 200px;
    transform: rotate(181deg) translate(250px) rotate(-181deg);
    position: absolute;
    top: 80%;
    left: 35%;
    margin: -51px;
}

.hsla{
    margin: 50px 0;
    position: relative;
    display: block;
    width: 0;
    height: 0;
    border-right: 100px solid transparent;
    border-bottom: 70px solid hsla(200, 75%, 25%, .7);
    border-left: 100px solid transparent;
    transform: rotate(35deg);
    top: 45%;
    left: 5%;
    margin: -51px;
}

.hsla::before{
    top: -45px;
    left: -65px;
    content: " ";
    position: absolute;
    display: block;
    color: hsla(120, 75%, 25%, .9);
    width: 0;
    height: 0;
    border-right: 30px solid transparent;
    border-bottom: 80px solid hsla(10, 5%, 75%, .9);
    border-left: 30px solid transparent;
    transform: rotate(-35deg);
}

.hsla::after{
    top: 3px;
    left: -105px;
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-right: 100px solid transparent;
    border-bottom: 70px solid hsla(1, 55%, 25%, .8);
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
}

.cross-brows{
    position: relative;
    width: 212px;
    height: 100px;
    box-sizing: content-box;
    top: 10%;
    left: 20%;
    margin: -51px;
}

.cross-brows::before, .cross-brows::after{
    position: absolute;
    width: 60px;
    height: 60px;
    box-sizing: content-box;
    content: '';
    top: 0;
    left: 0;
    border: 20px solid coral;
    border-radius: 50px 50px 0 50px;
    transform: rotate(-45deg);
}

.cross-brows::after{
    left: auto;
    right: 0;
    border-radius: 50px 50px 50px 0;
    transform: rotate(45deg);
}



