body{
    margin: 0;
    padding: 0;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.container{
   background-color: rgb(255, 255, 255); 
}

.hexa{
    width: 200px;
    height: 200px;
    background-color: #936f90;
}

.transparency-hexa{
    width: 150px;
    height: 150px;
    background-color: #0000ff80;
    border-radius: 50%;
}

.rgb{
    width: 500px;
    height: 100px;
    background-color: rgb(169, 200, 10);
    border-radius: 200px/75px;
}

.rgba{
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid rgba(244, 35, 123, .6);
}

.hsl{
    border-bottom: 100px solid hsl(235, 36%, 47%);
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    height: 0;
    width: 200px;
}

.hsla{
    margin: 50px 0;
    position: relative;
    display: block;
    color: hsla(120, 100%, 15%, .5);
    width: 0;
    height: 0;
    border-right: 100px solid transparent;
    border-bottom: 70px solid hsla(170, 75%, 25%, .7);
    border-left: 100px solid transparent;
    transform: rotate(35deg);
}

.hsla::before{
    top: -45px;
    left: -65px;
    content: " ";
    position: absolute;
    display: block;
    color: hsla(120, 75%, 25%, .9);
    width: 0;
    height: 0;
    border-right: 30px solid transparent;
    border-bottom: 80px solid hsla(200, 55%, 25%, .9);
    border-left: 30px solid transparent;
    transform: rotate(-35deg);
}

.hsla::after{
    top: 3px;
    left: -105px;
    content: " ";
    position: absolute;
    display: block;
    color: hsla(350, 25%, 100%, .8);
    width: 0;
    height: 0;
    border-right: 100px solid transparent;
    border-bottom: 70px solid hsla(200, 55%, 25%, .8);
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
}

.cross-brows{
    position: relative;
    width: 212px;
    height: 100px;
    box-sizing: content-box;
}

.cross-brows::before, .cross-brows::after{
    position: absolute;
    width: 60px;
    height: 60px;
    box-sizing: content-box;
    content: '';
    top: 0;
    left: 0;
    border: 20px solid coral;
    border-radius: 50px 50px 0 50px;
    transform: rotate(-45deg);
}

.cross-brows::after{
    left: auto;
    right: 0;
    border-radius: 50px 50px 50px 0;
    transform: rotate(45deg);
}



